@font-face {
   font-family: Montserrat;
   src: url(../res/font/Montserrat-Regular.ttf);
}

@font-face {
   font-family: Roboto;
   src: url(../res/font/Roboto-Regular.ttf);
}

/* declare border radius variable*/
:root {
   --border-radius: 5px;
   --padding: 10px;
}

.grid-container {
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1.3fr .9fr .9fr .9fr;
   grid-template-rows: 0.1fr 1fr 3fr 3fr 0.1fr;
   grid-template-areas:
      "title title title title"
      "announce vax1 vax2 vax3"
      "announce flexbox flexbox flexbox"
      "announce notes notes notes"
      "read-more . . ."
   ;
   grid-gap: 5px;
   width: 80%;
}

.titleBar {
   grid-area: title;
   margin: 0 auto;
   height: 40px;
   margin-top: 1rem;

   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   background: #12779D;
   border-radius: var(--border-radius);
   width: 80%;
}

.headerText {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   user-select: none;

   /* identical to box height */
   color: #FFFFFF;
}

.announcement-container {
   grid-area: announce;
   background: #12779D;
   border-radius: var(--border-radius);
   padding: var(--padding);
   color: #EDF0F1;
   font-family: Roboto;
   padding-inline: 5px;
}
.announcement-container h5 {
   padding-top: 15px;
   font-size: 17px;
   font-weight: bold;
   text-align: center;
}
.announcement-container ul {
   list-style-position: inside;
   padding-left: 20px;
   padding-right: 20px;
}
.announcement-container li {
   font-size: 14px;
   padding-bottom: 15px;
}

.read-more {
   grid-area: read-more;
   text-align: center;
}
.read-more a {
   font-family: Roboto;
   color: #12779D;
   text-decoration: none;
   font-weight: bold;
   /* align-self: center; */
}

.vaccinated-container-1 {
   background: #1CB876;
   grid-area: vax1;
   border-radius: var(--border-radius);
   padding-top: var(--padding);
   color: #EDF0F1;
   font-family: Roboto;
   padding: 10px;
   text-align: center;
}

.vaccinated-container-2 {
   background: #1CB876;
   grid-area: vax2;
   border-radius: var(--border-radius);
   padding-top: var(--padding);
   color: #EDF0F1;
   font-family: Roboto;
   padding: 10px;
   text-align: center;
}

.vaccinated-container-3 {
   background: #1CB876;
   grid-area: vax3;
   border-radius: var(--border-radius);
   padding-top: var(--padding);
   color: #EDF0F1;
   font-family: Roboto;
   padding: 10px;
   text-align: center;
}

.row-flex-container {
   color: #222222;
   display: flex;
   grid-area: flexbox;
   gap: 5px;
}

.row-flex-container h3 {
   font-weight: bolder;
}
.row-flex-container h5 {
   font-weight: normal;
}

.vaccination-site-container {
   background: #FFD57B;
   flex: 50%;
   border-radius: var(--border-radius);
   font-family: Roboto;
   padding: 20px;
   text-align: center;
   font-weight: normal;
}
.vaccination-site-container li {
   list-style-position: inside;
   font-size: medium;
   margin: 10px;
}

.vaccination-schedule-container {
   background: #FFD57B;
   flex: 50%;
   border-radius: var(--border-radius);
   font-family: Roboto;
   padding: 20px;
   text-align: center;
   font-weight: normal;

}
.vaccination-schedule-container li {
   list-style-type: none;
   font-size: medium;
   margin: 10px;
}

.notes {
   grid-area: notes;
   border-radius: var(--border-radius);
   padding-top: var(--padding);
   list-style-position: inside;
   font-family: Roboto;
   font-size: 15px;
   padding: var(--padding);
}
.notes li {
   margin: 10px;
}

@media only screen and (max-width: 800px) {
   .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr 0.5fr 0.5fr 0.5fr 1.5fr 2fr;
      grid-template-areas:
         "title"
         "announce"
         "read-more"
         "vax1"
         "vax2"
         "vax3"
         "flexbox"
         "notes"
      ;
   }
}

@media (max-width: 800px) {
   .row-flex-container {
      flex-direction: column;
   }
}