.vaccine-percentage-main-container {
   flex-direction: column;
   margin: 0 auto;
   font-size: 15px;
   justify-content: center;
   background-color: #12779D;
   width: 80%;
}

.barangay-with-percentage-container {
   display: flex;
   align-items: center;
   flex-direction: row;
   margin-top: 1px;
   margin-bottom: 10px;
   margin-right: 0 auto;
}

@media (max-width: 763px) {
   .barangay-with-percentage-container {
      width: 100%;
      flex-direction: column;
   }

   .barangay-name {
      text-align: left;
      justify-content: left;
      width: 90vw;
   }

   .all-percent-container {
      width: 97%
   }
}

/* @media only screen and(max-width: 1080px) {
   .barangay-with-percentage-container {
      width: 100%;
      flex-direction: row;
   }

   .barangay-name {
      text-align: right;
      justify-content: right;
      width: 100px;
   }

   .all-percent-container {
      max-width: 60vw;
      width: 60%;
      padding-left: '0px';
   }
} */



.barangay-name {
   display: flex;
   min-width: 10px;
   /* align-items: center;
   justify-content: right;*/
   text-align: left;
   font-size: 15px;
   font-family: Montserrat;
   font-style: normal;
   color: #FFFFFF;
}

.all-percent-container {
   display: flex;
   flex-grow: 1;
   margin-left: 10px;
   margin-right: 0 auto;
   ;
   /* width: 1200px; */
   min-height: 40px;
}

.percent-container {
   display: flex;
   flex-grow: 1;
   align-items: center;
   text-align: center;
   /* width: 100%; */
}

.percent-content {
   width: 100%;
   text-align: center;
   justify-content: center;
   font-family: Montserrat;
   font-style: normal;
   color: #FFFFFF;
   vertical-align: center;

}

#vaccine-type-legend-container {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   padding-left: 'auto';
   padding-right: 'auto';
}


#vaccine-type-legend-container .vaccine-type-span {
   margin: 10px;
   font-family: Montserrat;
   font-style: normal;
   color: #FFFFFF;
}

#vaccine-type-legend-container .vaccine-type-span::before {
   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: var(--backgroundColor);
}

#barangayVaccinePercentageHeader {
   display: flex;
}

#barangayVaccinePercentageHeader>span {
   margin: 1.5rem auto;

   font-family: Montserrat;
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
}

.percent-container {
   position: relative;
}

.percent-container .tooltip-container {

   visibility: hidden;
   width: 120px;
   font-family: Montserrat;
   font: 20px;
   color: #fff;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   border: 1px solid #FFFFFF;
   bottom: 125%;
   left: 50%;
   margin-left: -60px;
   opacity: 0;
   transition: opacity 0.3s;
}


.percent-container:hover .tooltip-container {
   /* justify-self: center;
   align-self: center; */
   /* text-align: center; */
   visibility: visible;
   opacity: 1;
}