.vaccine-percentage-main-container {
   display: flex;
   flex-direction: column;
   font-size: 15px;
   justify-content: center;
   width: 90%;
}

.barangay-with-percentage-container {
   display: flex;
   align-items: center;
   flex-direction: row;
   margin-top: 1px;
   margin-bottom: 10px;

}

.barangay-name {
   display: flex;
   width: 30%;
   min-width: 80px;
   align-items: center;
   justify-content: right;
   text-align: right;
   font-size: 15px;
   font-family: Montserrat;
   font-style: normal;
   color: #FFFFFF;
}

.all-percent-container {
   display: flex;
   flex-grow: 1;
   margin-left: 10px;
   width: 1000px;
   min-height: 40px;
}

.percent-container {
   display: flex;
   flex-grow: 1;
   align-items: center;
   text-align: center;
   /* width: 100%; */
}

.percent-content {
   width: 100%;
   text-align: center;
   justify-content: center;
   font-family: Montserrat;
   font-style: normal;
   color: #FFFFFF;
   vertical-align: center;

}

#vaccine-type-legend-container {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   align-items: center;
   justify-content: center;
}


#vaccine-type-legend-container .vaccine-type-span {
   margin: 10px;
   font-family: Montserrat;
   font-style: normal;
   color: #FFFFFF;
}

#vaccine-type-legend-container .vaccine-type-span::before {
   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   border-radius: 50%;

   background-color: var(--backgroundColor);
}

#barangayVaccinePercentageHeader {
   display: flex;
}

#barangayVaccinePercentageHeader>span {
   margin: 1.5rem auto;

   font-family: Montserrat;
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
}

.percent-container {
   position: relative;
}

.percent-container .tooltip-container {
   visibility: hidden;
   width: 120px;
   color: #fff;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   border: 1px solid #FFFFFF;
   bottom: 125%;
   left: 50%;
   margin-left: -60px;
   opacity: 0;
   transition: opacity 0.3s;
   font-family: Montserrat;
   font-size: 15px;
}


.percent-container:hover .tooltip-container {
   /* justify-self: center;
   align-self: center; */
   /* text-align: center; */
   visibility: visible;
   opacity: 1;
}

.graphButton {
   background-color: rgb(255, 213, 123);
   border: medium none;
   font-size: 1rem;
   font-family: Roboto;
   font-weight: 500;
   width: 130px;
   padding: 0.5rem 1rem;
   /* margin: 0px 0.5rem; */
   border-radius: 1000px;
}

#barangayVaccinePercentageHeader {
   color: #FFFFFF;
}