#barangaySelectorContainer {
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr;
    grid-template-areas: 
    "barangaySelectorLabel"
    "barangaySelector";

}

#barangaySelectorLabel {
    grid-area: barangaySelectorLabel;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
    margin-right: 20px;
}

#barangaySelector {
    grid-area: barangaySelector;
    background: #FFD57B;
    border-radius: 5px;
    height: 40px;
    align-self: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    outline: 0px;
    border: 0px;
    text-align: center;
    margin-bottom: 30px;
}

#categoriesLabel {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

    color: #FFFFFF;
}

.categoriesContainer {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "emptySpace category1 category2 category3 category4 category5 category6"
    "vaccinatedContainer data1 data2 data3 data4 data5 data6";
}

@media only screen and (max-width:768px) {
    .categoriesContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
        grid-template-areas: 
        "emptySpace"
        "vaccinatedContainer"
        "category1"
        "data1"
        "category2"
        "data2"
        "category3"
        "data3"
        "category4"
        "data4"
        "category5"
        "data5"
        "category6"
        "data6";
    }
    #categoriesLabel {
        margin-bottom: 0px;
    }
    #emptySpace {
        height: 1px;
    }
    #barangaySelector {
        font-size: 12px;
    }
}

#emptySpace {
    grid-area: emptySpace;
    background-color: #12779D;
}
#category1 {
    grid-area: category1;
}
#category2 {
    grid-area: category2;
}
#category3 {
    grid-area: category3;
}
#category4 {
    grid-area: category4;
}
#category5 {
    grid-area: category5;
}
#category6 {
    grid-area: category6;
}
#vaccinatedContainer {
    grid-area: vaccinatedContainer;
    background: #1CB876;
}
#data1 {
    grid-area: data1;
}
#data2 {
    grid-area: data2;
}
#data3 {
    grid-area: data3;
}
#data4 {
    grid-area: data4;
}
#data5 {
    grid-area: data5;
}
#data6 {
    grid-area: data6;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    height: 96px;
}

.categoryContainer span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #222222;
}

.categoryContainer span + span {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;

    background: #FFD57B;
    border-radius: 5px;
}

.dataContainer span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;

    color: #333333;
}

#vaccinatedContainer span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;

    text-align: center;
    color: #FFFFFF;
}

#vaccinatedContainer span + span {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

#ageGroupContainer {
    width: 80%;
    display: flex;
}

#brgyContainerHeader, #ageGroupContainerHeader {
    display: flex;
}

#brgyContainerHeader > span, #ageGroupContainerHeader > span {
    margin: 1.5rem auto;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.dataFlipContainer {
    width: 80%;
    display: flex;
    margin: 0 auto;
}