#brgyContainer,
#ageGroupContainer {
    margin: 0 auto;
    display: inline-block;
}

#perBrandMainContainer,
#perAgeGroupMainContainer {
    margin: 0 auto;
}

#brgyContainerHeader,
#ageGroupContainerHeader {
    display: flex;
}

#brgyContainerHeader>span,
#ageGroupContainerHeader>span {
    margin: 1.5rem auto;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: white;
}

#brgyRow,
#ageGroupRow {
    display: flex;
}

#buttonsMainContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}

.buttonsContainer {
    display: flex;
    gap: 4px;
}

.graphButton {
    background-color: rgb(255, 213, 123);
    border: medium none;
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 500;
    width: 130px;
    padding: 0.5rem 1rem;
    /* margin: 0px 0.5rem; */
    border-radius: 1000px;
}

@media (max-width: 768px) {

    #perBrandMainContainer,
    #perAgeGroupMainContainer {
        width: 100%;
        display: block;
    }

    #brgyRow,
    #ageGroupRow {
        display: block;
        align-content: center;
    }

    #ageGroupContainer,
    #brgyContainer {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    .vaccine,
    .age {
        flex-shrink: 0;
        margin: 0 auto;
    }
}

@media (max-width: 630px) {
    #buttonsMainContainer {
        justify-content: space-evenly;

    }
    .buttonsContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1080px) {

    #perBrandMainContainer,
    #perAgeGroupMainContainer {
        width: 100%;
        display: block;
    }
}

body {
    background: #12779D;
}