#topBarangaysContainer,
#brgyContainer,
#ageGroupContainer {
    margin: 0 auto;
    display: inline-block;
}

#topBarangaysMainContainer,
#perBrandMainContainer,
#perAgeGroupMainContainer {
    width: 80%;
    margin: auto;
}

#topBarangaysContainerHeader,
#brgyContainerHeader,
#ageGroupContainerHeader {
    font-family: Montserrat;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin: 0;
    display: grid;
    color: white;
    margin-bottom: 10px;
}

#topBarangayRow,
#brgyRow,
#ageGroupRow {
    display: flex;
}

#buttonsMainContainer {
    display: flex;
    justify-content: space-between;
}

.buttonsContainer {
    display: flex;
    gap: 4px;
}

.graphButton {
    background-color: rgb(255, 213, 123);
    border: medium none;
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 500;
    width: 130px;
    padding: 0.5rem 1rem;
    border-radius: 1000px;
    margin-bottom: 15px;
}

#buttonsMainContainer2 {
    margin: auto;
    display: flex;
    width: 80%;
}

@media (max-width: 768px) {

    #perBrandMainContainer,
    #perAgeGroupMainContainer {
        width: 100%;
        display: block;
    }

    #brgyRow,
    #ageGroupRow {
        display: block;
        align-content: center;
    }

    #ageGroupContainer,
    #brgyContainer {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    .topBarangayName,
    .vaccine,
    .age {
        flex-shrink: 0;
        margin: 0 auto;
    }
}

@media (max-width: 630px) {
    #buttonsMainContainer {
        justify-content: space-evenly;

    }
    .buttonsContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1080px) {

    #perBrandMainContainer,
    #perAgeGroupMainContainer {
        width: 100%;
        display: block;
    }
}

body {
    background: #12779D;
}