body {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
}

hr {
    margin: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid #FFFFFF;
    border-top: transparent;
    transform: rotate(0deg);
}

.titleBar {
    grid-area: title;
    margin: 0 auto;
    height: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #12779D;
    border-radius: 5px;
    width: 80%;
 }

 #barangayPerPercentMainContainer {
    padding-bottom: 20px;
    background: #12779D;
}

#barangayCategorySelectionMainContainer {
    background: #12779D;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#perBrandMainContainer {
    background: #12779D;
}

#perAgeGroupMainContainer {
    background: #12779D;
}
