@font-face {
    font-family: Montserrat;
    src: url(../res/font/Montserrat-Regular.ttf);
 }

body {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
}

hr {
    margin: auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid #FFFFFF;
    border-top: transparent;
    transform: rotate(0deg);
}

.titleBar {
    grid-area: title;
    margin: 0 auto;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 5px;
    width: 80%;
 }

 .headerText {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    user-select: none;
 
    /* identical to box height */
    color: #222222;
 }

 #firstSectionContainer {
     background-color: white;
 }

#barangayCategorySelectionMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}